/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #343541;
}

.newChat {
  border: solid 0.5px rgba(105, 105, 105, 0.5);
  background-color: transparent;
  font-size: 20px;
  margin: 10px;
  border-radius: 8px;
  height: 60px;
  padding-left: 20px;
  text-align: left;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.side-bar {
  background-color: #202123;
  width: 380px;
  height: 100vh;
  padding: 0, 35px;

}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 200px 0;
  font-size: 35px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

#chat-input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  position: relative;
}

#chat-input #submit {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 17px;
}

#user-input {
  font-size: 20px;
  border-radius: 8px;
  padding: 12px 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.05);
}

#user-input:focus {
  outline: none;
}