/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #343541;
}

.newChat {
  border-color: #fff;
  background-color: #202123;
  font-size: 20px;
  margin: 15px;
  padding-right: 55px;
  border-radius: 10px;
  height: 50px;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
}

.side-bar {
  background-color: #202123;
  width: 244px;
  height: 100vh;
  padding: 0, 35px;
}

h1 {
  padding: 200px 0;
  font-size: 35px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav p {
  margin: 0;
}
