{% load static%}
<!DOCTYPE html>
<html>
<head>
  <title>ChatGPT</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"
  >
</head>
<body>
  <div class="main">
    <section class="side-bar">
      <nav>
        <button class="newChat"> + New Chat</button>
        <div class="history"></div>
        <p>made by KevTon</p>
      </nav>
    </section>
    <section class="main-section">
      <div id="chat-container">
        <div id="chat-header">
          <h1>ChatGPT_Like</h1>
        </div>
        <div id="chat-messages">
          <!-- Les messages du chat seront ajoutés dynamiquement ici -->
        </div>
        <div id="chat-input">
          <input type="text" id="user-input" placeholder="Entrez votre message...">
          <button id="send-button">Envoyer</button>
        </div>
      </div>
    </section>

  </div>

</body>
</html>
