{% load static%}
<!DOCTYPE html>
<html>
<head>
  <title>ChatGPT</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="module" src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <div class="main">
    <section class="side-bar">
      <nav>
        <button class="newChat"> + New Chat</button>
        <div class="history"></div>
        <div class="bottom-nav">
          <p>made by KevTon</p>
        </div>
      </nav>
    </section>
    <section class="main-section">
      <div id="chat-container">
        <div id="chat-header">
          <h1>ChatGPT_Like</h1>
        </div>
        <div class="example-container" {% if chatgpt_response %}style="display: none;"{% endif %}>
          <div class="examples">
            <h2>
              Examples
            </h2>
            <ul class="all-li">
              <li class="first">"Explain quantum computing in simple terms" ⇨</li>
              <li class="second">"Got any creative ideas for a 10 years old's birthday?" ⇨</li>
              <li class="third">"How do i make an HTTP request in Javascript?" ⇨</li>
            </ul>
          </div>
          <div class="capabilities">
            <h2>
              Capabilities
            </h2>
            <ul class="all-li">
              <li class="first">Remembers what user said earlier in the conversation</li>
              <li class="second">Allows user to provide follow-up corrections</li>
              <li class="third">Trained to decline inappropriate requests</li>
            </ul>
          </div>
          <div class="limitations">
            <h2>
              Limitations
            </h2>
            <ul class="all-li">
              <li class="first">Trained to decline inappropriate requests</li>
              <li class="second">May occasionally produce harmful instructions or biased content</li>
              <li class="third">Limited knowledge of world and events after 2021</li>
            </ul>
          </div>
        </div>
        <div id="user-chat">
          <!-- l'input du user sera ajouté dynamiquement ici -->
        </div>
        <div id="chat-messages">
          <!-- Les reponse de l'IA seront ajoutés dynamiquement ici -->
        </div>
        <div class="bottom-page">
          <div id="chat-input">
            {% csrf_token %}
            <input type="text" id="user-input" placeholder="Entrez votre message...">
            <button type="submit" id="submit">➢</button>
          </div>
          <div class="bottom">
            <p class="info">Free Research Preview. ChatGPT may produce inaccurate information about people,
               places, or facts. ChatGPT May 24 Version
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
