/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #343541;
}

.newChat {
  border: solid 0.5px rgba(105, 105, 105, 0.5);
  background-color: transparent;
  font-size: 20px;
  margin: 10px;
  border-radius: 8px;
  height: 60px;
  padding-left: 20px;
  text-align: left;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.side-bar {
  background-color: #202123;
  width: 410px;
  height: auto;
  padding: 0, 35px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

#user-chat p{
  margin: 0;
  font-size: 20px;
  padding: 15px 15px 30px 15px;
}

#chat-messages{
  width: 100%;
  border-color: black;
}

#chat-messages p{
  margin: 0;
  font-size: 20px;
  padding: 15px 15px 30px 15px;
  background-color: #3a3c4a;
  border-color: black;
}

h1 {
  margin-bottom: 10px;
  font-size: 35px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}

.bottom-nav {
  border-top:  solid 0.5px rgba(105, 105, 105, 0.5);
  margin: 0 8px;
}

#chat-input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 95%;
  position: relative;
}

#chat-input #submit {
  border: none;
  background-color: inherit;
  position: absolute;
  cursor: pointer;
  right: 35px;
  top: 25px;
}

#user-input {
  font-size: 20px;
  border-radius: 8px;
  padding: 20px 15px;
  width: 100%;
  box-shadow: rgba(0,0,0,0.05) 0 8px 15px,
  rgba(0,0,0,0.05) 0 -8px 15px;
  background-color: #3a3c4a;
  border: none;
}

#user-input:focus {
  outline: none;
}

.example-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 73%;
  padding: 0 1.6rem;
  gap: 0.875rem;
}

ul {
  margin: 0;
  padding: 0;
  gap: 0.875rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  background-color: hsla(0,0%,100%,.05);
  padding: 0.80rem;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
}

.limitations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.875rem;
}

.examples{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.875rem;
}

.capabilities{
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.bottom-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-bottom: 8px;
}
